<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>

<div class="dashboard">
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @products.count %></span>
    Total Products Available:
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @categories.count %></span>
    Total Number of Categories:
  </li>
</ul>