<section class="orders-show">

  <header class="page-header">
    <h1>Your Order (ID# <%= @order.id %>)</h1>
  </header>

  <div class="order-summary alert alert-info">
    <h4>Your order has been processed. Thank you!</h4>
  </div>

  <%= render @order %>

  <%= link_to "Return to Products Page", root_path, class: 'btn btn-block btn-lg btn-primary' %>

</section>
