<section>

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <p>Welcome to the Jungle! Here you will find a series of bizarre and at times disturbing objects for sale at prices which are, if we are being honest, absurdly high.</p>

  </p>The Jungle is an excellent place to spend your GAMESTONK gains. After all, when making absurd and unreasonable investments in a dead stock like GME, it only makes sense to spend your equally absurd and unreasonable gains on absurd and unreasonable products.</p>

  <p>Absurd. Unreasonable. That's the Jungle Difference!</p>

</section>